tensorflow
tensor2tensor
h5py
Pillow
cmake
numpy
requests
cython
cffi
scipy
msgpack
easydict
matplotlib
pyyaml
tensorboardX
imageio
git+git://github.com/pytorch/text
keras
tqdm
xlwt
easydict
nltk
dlib
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
sklearn
spacy
pandas
